/* header styles */

.header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
  }
  
  .cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
  }
  
  
   .cartItemImg {
    /* border-radius: 50%; */
    /* width: 50px;
    height: 50px; */
    object-fit: cover;
  } 
  
  .cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
  } 
  
  /* Home Page */
  
  .home {
        margin-top: 85px;
  }
  
    .filters {
    border-top: 1px solid gray;
    background-color: #212529;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    /* margin: 10px; */
    position: fixed;
    top: 80px;
    bottom: 0;
    padding: 20px;
}
  .filters > span {
    padding-bottom: 20px;
  }
  
  .title {
    font-size: 30px;
  }
  .productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20%;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    z-index: -1;
}
  .products {
    width: 30%;
    margin: 10px;
  }

  .button_style{

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: "10px";
      cursor: "pointer";
      color: "white";
      font-weight: "bold";

  }
  
  .summary {
    width: 30%;
  }
  
  /* login page */

  .login-form {
    width: 300px;
    box-shadow: 5px 5px 30px lightgray;
    padding: 34px 10px;
    border-radius: 5px;
}
  /* Media Queries */
  @media (max-width: 771px) {
    .filters {
      width: 40%;
      padding: 10px;
      margin: 5px;
    }
  
    .filters > span {
      font-size: 10px;
    }
  
    .title {
      font-size: 18px !important;
    }
  
    .productContainer {
      width: 58%;
      padding: 0;
    }
  
    .search {
      display: none !important;
    }
  
    .products {
      width: 100%;
    }
  }